cmp-data-warehouse-feature-mdb-pipeline-api/synapse-workspace/pipeline/Servicenow metadata.json
{
	"name": "Servicenow metadata",
	"properties": {
		"activities": [
			{
				"name": "ForEach table",
				"type": "ForEach",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@createArray('pm_project', 'issue', 'pm_portfolio', 'pm_project_task', 'project_status', 'risk', 'dmn_demand')",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Get table information",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://vanoorddev.service-now.com/api/now/table/sys_db_object?sysparm_query=name=', item())",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"method": "GET",
								"authentication": {
									"type": "Basic",
									"username": "vo-compass-itbm-portfolio",
									"password": {
										"type": "AzureKeyVaultSecret",
										"store": {
											"referenceName": "AzureKeyVault1",
											"type": "LinkedServiceReference"
										},
										"secretName": "servicenow"
									}
								}
							}
						},
						{
							"name": "If base table has parent",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get table information",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@greater(length(string(activity('Get table information').output.result[0]['super_class'])), 0)",
									"type": "Expression"
								},
								"ifTrueActivities": [
									{
										"name": "Execute metadata 2 pipeline SN",
										"type": "ExecutePipeline",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"pipeline": {
												"referenceName": "Servicenow metadata 2",
												"type": "PipelineReference"
											},
											"waitOnCompletion": true,
											"parameters": {
												"sys_id": {
													"value": "@activity('Get table information').output.result[0]['super_class']['value']",
													"type": "Expression"
												},
												"table_name": {
													"value": "@activity('Get table information').output.result[0]['name']",
													"type": "Expression"
												}
											}
										}
									}
								]
							}
						}
					]
				}
			}
		],
		"variables": {
			"wat": {
				"type": "Array"
			}
		},
		"annotations": []
	}
}