cmp-data-warehouse-feature-mdb-pipeline-api/synapse-workspace/pipeline/Servicenow metadata 2.json
{
	"name": "Servicenow metadata 2",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set sys_id_init",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('sys_id'), 'stop')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get parent of table",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://vanoorddev.service-now.com/api/now/table/sys_db_object?sysparm_query=sys_id=', variables('sys_id'))",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"method": "GET",
								"authentication": {
									"type": "Basic",
									"username": "vo-compass-itbm-portfolio",
									"password": {
										"type": "AzureKeyVaultSecret",
										"store": {
											"referenceName": "AzureKeyVault1",
											"type": "LinkedServiceReference"
										},
										"secretName": "servicenow"
									}
								}
							}
						},
						{
							"name": "Set sys_id",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get parent of table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "sys_id",
								"value": "stop"
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Set sys_id_init",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "sys_id",
					"value": {
						"value": "@pipeline().parameters.sys_id",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"sys_id": {
				"type": "string"
			}
		},
		"variables": {
			"sys_id": {
				"type": "String"
			}
		},
		"annotations": []
	}
}