cmp-data-warehouse-feature-mdb-pipeline-api/synapse-workspace/pipeline/Servicenow metadata 2.json
{
	"name": "Servicenow metadata 2",
	"properties": {
		"activities": [
			{
				"name": "Until1",
				"type": "Until",
				"dependsOn": [
					{
						"activity": "Set sys_id_init",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Set table name",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(variables('sys_id'), 'stop')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get parent of table",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://vanoorddev.service-now.com/api/now/table/sys_db_object?sysparm_query=sys_id=', variables('sys_id'))",
									"type": "Expression"
								},
								"connectVia": {
									"referenceName": "AutoResolveIntegrationRuntime",
									"type": "IntegrationRuntimeReference"
								},
								"method": "GET",
								"authentication": {
									"type": "Basic",
									"username": "vo-compass-itbm-portfolio",
									"password": {
										"type": "AzureKeyVaultSecret",
										"store": {
											"referenceName": "AzureKeyVault1",
											"type": "LinkedServiceReference"
										},
										"secretName": "servicenow"
									}
								}
							}
						},
						{
							"name": "Set sys_id",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Get parent of table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "sys_id",
								"value": {
									"value": "@if(greater(length(string(activity('Get parent of table').output.result[0]['super_class'])), 0), activity('Get parent of table').output.result[0]['super_class']['value'], 'stop' )",
									"type": "Expression"
								}
							}
						},
						{
							"name": "Set table name _",
							"type": "AppendVariable",
							"dependsOn": [
								{
									"activity": "Get parent of table",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"variableName": "parent_tables",
								"value": {
									"value": "@activity('Get parent of table').output.result[0]['name']",
									"type": "Expression"
								}
							}
						}
					],
					"timeout": "0.12:00:00"
				}
			},
			{
				"name": "Set sys_id_init",
				"type": "SetVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "sys_id",
					"value": {
						"value": "@pipeline().parameters.sys_id",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Set table name",
				"type": "AppendVariable",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"variableName": "parent_tables",
					"value": {
						"value": "@pipeline().parameters.table_name",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[insert_parent_tables]",
					"storedProcedureParameters": {
						"parent_tables": {
							"value": {
								"value": "@string(variables('final_array'))",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Until1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "final_array",
					"value": {
						"value": "@variables('parent_tables')",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [
					{
						"activity": "Stored procedure1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": []
			}
		],
		"parameters": {
			"sys_id": {
				"type": "string"
			},
			"table_name": {
				"type": "string"
			}
		},
		"variables": {
			"sys_id": {
				"type": "String"
			},
			"parent_tables": {
				"type": "Array"
			},
			"final_array": {
				"type": "Array"
			}
		},
		"folder": {
			"name": "SN metadata"
		},
		"annotations": []
	}
}