cmp-data-warehouse-feature-mdb-pipeline-api/synapse-workspace/pipeline/sn_test_main.json
{
	"name": "sn_test_main",
	"properties": {
		"activities": [
			{
				"name": "LU_Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT * FROM elt.MetadataTables\nWHERE IsActive = 1 AND SystemCode = 'snprojects'",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ds_sql_mdb_table",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "FE_INS_Metadata",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LU_Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LU_Tables').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"batchCount": 15,
					"activities": [
						{
							"name": "Insert_Structure",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "LU_Structure_Type",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 60,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[elt].[spInsertMetadata]",
								"storedProcedureParameters": {
									"Json": {
										"value": {
											"value": "@string(activity('LU_Structure_Type').output.value)",
											"type": "Expression"
										},
										"type": "String"
									},
									"lSchema": {
										"value": {
											"value": "@item().SchemaName",
											"type": "Expression"
										},
										"type": "String"
									},
									"lTable": {
										"value": {
											"value": "@item().EntityName",
											"type": "Expression"
										},
										"type": "String"
									},
									"SystemCode": {
										"value": {
											"value": "@pipeline().parameters.system_code",
											"type": "Expression"
										},
										"type": "String"
									},
									"SystemName": {
										"value": {
											"value": "@pipeline().parameters.system_name",
											"type": "Expression"
										},
										"type": "String"
									},
									"SystemType": {
										"value": {
											"value": "@pipeline().parameters.system_type",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_sqldb_mdb",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "LU_Structure",
							"type": "Lookup",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"storeSettings": {
										"type": "HttpReadSettings",
										"requestMethod": "GET"
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"dataset": {
									"referenceName": "ds_source_servicenow_tableapi_http",
									"type": "DatasetReference",
									"parameters": {
										"relative_api_path": "sys_dictionary",
										"filter_on_table": {
											"value": "@item().EntityName",
											"type": "Expression"
										},
										"fields_to_include": "element,internal_type,max_length,unique,mandatory"
									}
								},
								"firstRowOnly": false
							}
						},
						{
							"name": "LU_Structure_Type",
							"type": "Lookup",
							"dependsOn": [
								{
									"activity": "LU_Structure",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureSqlSource",
									"sqlReaderStoredProcedureName": "[elt].[spGetFieldTypeAndDataType]",
									"storedProcedureParameters": {
										"json": {
											"type": "String",
											"value": {
												"value": "@string(activity('LU_Structure').output.value[0].result)",
												"type": "Expression"
											}
										}
									},
									"queryTimeout": "02:00:00",
									"partitionOption": "None"
								},
								"dataset": {
									"referenceName": "ds_sql_mdb_table",
									"type": "DatasetReference"
								},
								"firstRowOnly": false
							}
						}
					]
				}
			}
		],
		"parameters": {
			"process_run_id": {
				"type": "string",
				"defaultValue": "-1"
			},
			"system_code": {
				"type": "string",
				"defaultValue": "snprojects"
			},
			"system_name": {
				"type": "string",
				"defaultValue": "servicenow-projects"
			},
			"system_type": {
				"type": "string",
				"defaultValue": "json"
			}
		},
		"folder": {
			"name": "MDB"
		},
		"annotations": [],
		"lastPublishTime": "2020-12-04T14:48:06Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}